<div class="alert alert-primary" role="alert">
  click on the image to explore the world Information
</div>


<div class="container"  >
	<div class="row">
	  <div class="col">
	  <a  [routerLink]="['/country','region','europe']">
	  <img src="assets/europe1.jpg" class="one" >
	  </a>
	</div>
  </div>
  <div class="row">
	<div class="col">
	<a  [routerLink]="['/country','region','africa']">
    <img src="assets/africa1.jpg" class="one" >
	</a>
  </div>
  </div>
  <div class="row">
	<div class="col">
	<a  [routerLink]="['/country','region','americas']">
	<img src="assets/america1.jpg" class="one" >
	</a>
  </div>
  </div>
  <div class="row">
	<div class="col">
	<a  [routerLink]="['/country','region','asia']">	
	<img src="assets/asia1.jpg" class="one" >
	</a>
  </div>
  </div>
  <div class="row">
	<div class="col">
	<a  [routerLink]="['/country','region','oceania']">
	<img src="assets/oceania1.jpg" class="one" >
	</a>
  </div>
  </div>
  </div>
  
  